<!-- <form action='/' method="GET"> -->

<%= form_tag("rdf#graph", method: "get") do %>
  <label>ID: </label>
  <input type="text" />

  <input type="submit" value="Submit" />
<% end %>
<!-- </form> -->